@model IEnumerable<Assignment.Models.Booking>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Send Email", "Email")
</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div style="display: normal">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Course.CourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Course.CourseTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Course.CourseEndTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Course.Classroom.ClassroomDescription)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.CourseTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.CourseEndTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Classroom.ClassroomDescription)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
